<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} 順位 {% endblock %}

{% block contents %}
<div class="container">
  <h1>{{title}}</h1>
    <table class ="table table-hover">
      <tr>
        <th class="h2">
          順位
        </th>
        <th class="h2">
          チーム名
        </th>
        <th class="h2">
          合計点
        </th>
        <th class="h2">
          タイム
        </th>
      </tr>
      {% for item in data %}
      <tr>
        {% if forloop.counter == 1 %}
          <td style="background-image: linear-gradient(0deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
          -webkit-background-clip: text;
          color: transparent; font-size: 80px;">{{forloop.counter}}位</td>
          <td style="font-size: 80px;">{{item.team}}</td>
          <td style="font-size: 80px;">{{item.total}}</td>
          <td style="font-size: 80px;">{{item.clear_time}}</td>
        {% elif forloop.counter == 2 %}
          <td style="color: transparent;
          background: linear-gradient(0deg, #757575 0%, #9E9E9E 37%, #E8E8E8 47%, #9E9E9E 50%, #757575 90% 100%); 
          -webkit-background-clip: text;font-size:70px;">{{forloop.counter}}位</td>
          <td style="font-size: 70px;">{{item.team}}</td>
          <td style="font-size: 70px;">{{item.total}}</td>
          <td style="font-size: 70px;">{{item.clear_time}}</td>
        {% elif forloop.counter == 3 %}
          <td style="color: transparent;
          background: linear-gradient(0deg, #734e30 0%, #8b694f 37%, #a3856f 42%, #e8dfd9 50%, #8b694f 70%, #734e30 100%); 
          -webkit-background-clip: text;font-size:px; font-size: 65px;">{{forloop.counter}}位</td>
          <td style="font-size: 65px;">{{item.team}}</td>
          <td style="font-size: 65px;">{{item.total}}</td>
          <td style="font-size: 65px;">{{item.clear_time}}</td>
        {% else %}
          <td class="h2">{{forloop.counter}}位</td>
          <td class="h2">{{item.team}}</td>
          <td class="h2">{{item.total}}</td>
          <td class="h2">{{item.clear_time}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
</div>
  {% endblock %}
