<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} 順位 {% endblock %}

{% block contents %}
<div class="container">
  <h1>{{title}}</h1>
    <table class ="table table-hover">
      <tr>
        <th class="h2">
          順位
        </th>
        <th class="h2">
          チーム名
        </th>
        <th class="h2">
          合計点
        </th>
        <th class="h2">
          タイム
        </th>
      </tr>
      {% for item in data %}
      <tr>
        {% if forloop.counter == 1 %}
          <td>{{forloop.counter}}位</td>
          <td>{{item.team}}</td>
          <td>{{item.total}}</td>
          <td>{{item.clear_time}}</td>
        {% elif forloop.counter == 2 %}
          <td>{{forloop.counter}}位</td>
          <td>{{item.team}}</td>
          <td>{{item.total}}</td>
          <td>{{item.clear_time}}</td>
        {% elif forloop.counter == 3 %}
          <td>{{forloop.counter}}位</td>
          <td>{{item.team}}</td>
          <td>{{item.total}}</td>
          <td>{{item.clear_time}}</td>
        {% else %}
          <td>{{forloop.counter}}位</td>
          <td>{{item.team}}</td>
          <td>{{item.total}}</td>
          <td>{{item.clear_time}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
</div>
  {% endblock %}
